@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-800 text-white p-5 leading-5;
    }

    main {
        min-height: 80vh;
        overflow: scroll;
    }

    #root {
        @apply h-full;
    }

    h1 {
        @apply text-3xl font-bold text-red-600 mb-3;
    }

    h2 {
        @apply text-xl font-medium mb-3 ;
    }

    aside {
        @apply fixed bottom-0 left-0 h-20 w-full flex flex-row justify-around items-center bg-gray-800;
    }

    :root {
        --fc-list-event-dot-width: 0px;
        --fc-page-bg-color: rgb(55 65 81);
        --fc-neutral-text-color: transparent;
        --fc-list-event-hover-bg-color: #991b1b;
        --fc-border-color: transparent;
        --fc-toolbar-title-size: 1em;
        .fc .fc-toolbar-title {
            font-size: var(--fc-toolbar-title-size);
          }
    }

    /* button:hover {
        @apply bg-red-100;
    } */
}
@layer components {
    
}
@layer utilities {
    aside div {
        @apply w-full h-full flex justify-center;
    }

    .btn-aside {
        @apply border border-solid border-gray-700 w-full h-full flex justify-center items-center;
    }

    .new-task-container {
        @apply fixed bottom-0 right-0 w-full flex justify-end;
    }

    .btn-new-task {
        @apply w-20 h-20 rounded-full bg-red-600 text-4xl font-thin absolute bottom-24 right-4;
    }

    .calendar-container {
        @apply z-0;
    }

    .weekly-view {
        @apply mb-10;
    }
}
